@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     This project made by:
</p>
<p>
     Neta-ly Gal
</p>
<p>
     Nir turjeman
</p>
<p>
     Eli Shakuri
</p>
<p>
     Ariel Hadar
</p>
<p>
     Yaniv Gal
</p>
