@*<h2>@ViewBag.Message</h2>*@

<div align="center">
<font size="15">
<p>When MONEY TALKS,</p>
<p>Nobody checks the grammar</p>
</font>
<font size="10">
<p>
    @Html.ActionLink("Login", "Index", "BalanceAccount")
</p>
</font>
</div>
