@using Money_Talks.Models
@{
    UserDbContext usersDb = new UserDbContext();
    var user = from u in usersDb.UsersDB
               where u.Username.Equals(User.Identity.Name)
               select u;
    var userModel = user.ToArray();

    if (Request.IsAuthenticated)
    {
        <div style="height:20px; width:100%; text-align:center; position:absolute; bottom:0; margin-bottom:8px; color: white">
            Welcome, @userModel[0].FirstName @userModel[0].LastName!
        [ @Html.ActionLink("Log Off", "LogOff", "Account", null, new { style = "color:#ffcc00" }) ]
        </div>
    }
}