@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Money Talks Company LTD. <br/> <br/>
     Team Members: <br/>
     * Eli Shakuri <br/>
     * Nir Turjeman <br/>
     * Yaniv Gal <br/>
     * Neta-lee Gal <br/>
     * Ariel Hadar <br/>
</p>
