<html>
	<head>
    	<title>Money Talks</title>
        <link href="../../graphics/styles2.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div id="topBanner">
        	<div id="bannerPic"></div>
        	<div id="tabArea">
            	<ul class="tabs">
                    <li><a id="homeTab" href="Index" target="myIframe">HOME</a></li>
                    <li><a id="rulesTab" href="../Rules/Index" target="myIframe">RULES</a></li>
                    <li><a id="aboutTab" href="../Home/About" target="myIframe">ABOUT</a></li>
                </ul>
          	</div>
        </div>
          <div class="tabMain">
            <div class="tabIframeWrapper">
              <iframe class="tabContent" name="myIframe" src="../Transaction/Index" marginheight="8" marginwidth="8" frameborder="0"></iframe>
            </div>
          </div>
	</body>
</html>